@import '~assets/styles/_mediaQueries.scss';
@import '~assets/styles/_typography.scss';
@import '~assets/styles/_colors.scss';

.header {
  height: 68px;
}

.paper {
  min-height: calc(100% - 68px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.flexCell {
  padding: 15px;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 33%;
  }
}

.addButton {
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 86px;
  height: 86px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  i {
    font-size: 86px;
    color: $saffron;
  }
}

.noTickets {
  width: 100%;
  text-align: center;
}

.headerButton {
  float: right;
  margin-left: 15px;
}

.speedDialContainer {
  position: sticky;
  bottom: 0;
}
