@import '~assets/styles/_colors.scss';
@import '~assets/styles/_typography.scss';

.paper {
  max-width: 643px;
  margin: 30px auto 0;
  padding: 30px;
}

.title {
  text-transform: uppercase;
  font-size: $smallFontSize;
}

.inputFields {
  margin: 30px 0;

  .passwordInput {
    margin-top: 15px;
  }
}

.button {
  margin: 0 auto;
  border: solid thin blue;
}

.passwordForgot {
  display: block;
  margin: 30px auto 0;
  width: 160px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $miniFontSize;
  cursor: pointer;
}
