@import '~assets/styles/_colors.scss';

.header {
  height: 68px;
}

.container {
  margin: 0 -15px;
  position: relative;
  min-height: calc(100% - 68px);
}

.flexCell {
  padding: 15px;
  width: 100%;
}

.noOrders {
  text-align: center;
}

.speedDialContainer {
  position: sticky;
  bottom: 0;
}
