@import '~assets/styles/_mediaQueries.scss';
@import '~assets/styles/_colors.scss';

.header {
  height: 68px;
}
.paper {
  min-height: calc(100% - 68px);
  padding: 20px 20px 120px;
  align-content: flex-start;
  position: relative;
}

.table {
  width: 100%;
  margin-top: 50px;
}

.plusButtonContainer {
  position: sticky;
  bottom: 0;
}
