@import '~assets/styles/_typography.scss';
@import '~assets/styles/_mediaQueries.scss';
@import '~assets/styles/_colors.scss';

.header {
  height: 68px;
}

.paper {
  min-height: calc(100% - 68px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.responsiveTable {
  margin-top: 40px;
  width: 100%;
}

.totalPrice {
  width: 100%;
  text-align: right;
}

.modalBody {
  margin: 15px 0 25px;
}

.codeWarning {
  font-size: $smallFontSize;
  color: $red;
  margin-left: 10px;
}

.quantityButtonsPosition {
  width: min-content;
  float: right;
}

.modalBody {
  @include media-breakpoint-up(sm) {
    max-width: 200px;
  }
}
