@import '~assets/styles/_typography.scss';
@import '~assets/styles/_mediaQueries.scss';
@import '~assets/styles/_colors.scss';

.header {
  height: 68px;
}

.paper {
  min-height: calc(100% - 68px);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

.info {
  font-size: $smallerFontSize;
}

.flexCell {
  padding: 15px;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  @include media-breakpoint-up(xl) {
    width: 33%;
  }
}

.clientInfo {
  font-family: $defaultFontFamily;
  font-size: $smallerFontSize;
  font-weight: normal;
  padding-bottom: 8px;
  line-height: 33px;
  @include media-breakpoint-up(md) {
    font-size: $mediumFontSize;
    width: 33%;
  }
}

.emptyTicket {
  width: 100%;
  text-align: center;
}

.headerButton {
  float: right;
  margin-left: 15px;
}

.codeWarning {
  font-size: $smallFontSize;
  color: $red;
  margin-left: 10px;
}

.speedDialContainer {
  position: sticky;
  bottom: 0;
}
