@import '~assets/styles/_colors.scss';
@import '~assets/styles/_typography.scss';

$divisionBorder: 1px solid rgba(224, 224, 224, 1);

.tableContainer {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-size: $smallerFontSize;
  table {
    width: 100%;
    th,
    td {
      padding: 16px;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }
  }

  td {
    border-top: $divisionBorder;

    &.view {
      i {
        color: $blue;
      }
    }

    &.edit {
      i {
        color: $gray;
      }
    }

    &.delete {
      i {
        color: $red;
      }
    }

    &.view,
    &.edit,
    &.delete {
      width: 46px;
      text-align: right;
      i {
        cursor: pointer;
        &:hover {
          color: $ronchi;
        }
      }
    }
  }

  .pagination {
    border-top: $divisionBorder;
    padding: 16px;
    text-align: right;
  }
}
