@import '~assets/styles/_colors.scss';
@import '~assets/styles/_typography.scss';

.paper {
  max-width: 643px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  text-transform: uppercase;
  font-size: $smallFontSize;
}

.mediumText {
  display: block;
  margin: 20px 0 0;
  color: $darkGray;
  text-decoration: none;
  font-size: $smallFontSize;
  text-align: center;
}

.smallText {
  display: block;
  margin: 20px 0 0;
  color: $darkGray;
  text-decoration: none;
  font-size: $miniFontSize;
  cursor: pointer;
}

.goToLogin {
  display: block;
  margin: 30px auto 0;
  width: 160px;
  color: $darkGray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $miniFontSize;
  cursor: pointer;
}

.checkIcon {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  i {
    font-size: 70px;
    color: $ronchi;
  }
}

.inputFields {
  margin: 5px 0 30px;

  .passwordInput {
    margin-top: 15px;
  }
}

.button {
  margin: 0 auto;
  border: solid thin blue;
}

.burgerMenu {
  width: fit-content;
  cursor: pointer;
}

.containerMobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .logo {
    width: 80%;
    flex-grow: 1;
  }

  .inputFields {
    margin: 0;
  }

  .passwordForgot {
    margin: 20px auto 0;
  }
}

.fields {
  flex-grow: 2;
}
