$darkestGray: #1a1919;
$darkGray: #2a2a2a;
$gray: #979797;
$ronchi: #f5c94c;

// Exports variables to be used in JS theme definition at assets/themes.
:export {
  darkestGray: $darkestGray;
  darkGray: $darkGray;
  gray: $gray;
  ronchi: $ronchi;
}
