$defaultBackgroundColor: #f3f3f3;
$darkestGray: #1a1919;
$darkGray: #2a2a2a;
$mediumGray: #8b8b8b;
$gray: #979797;
$lightGray: #d9d8d8;
$lightestGray: #f3f3f3;
$ronchi: #f5c94c;
$saffron: #f6ca3e;
$tulipTree: #e6bd39;
$goldTips: #ebb917;
$eggSour: #fef5dd;
$blue: #4e73df;
$red: #e74a3b;

// Exports variables to be used in JS theme definition at assets/themes.
:export {
  defaultBackgroundColor: $defaultBackgroundColor;
  darkestGray: $darkestGray;
  darkGray: $darkGray;
  mediumGray: $mediumGray;
  gray: $gray;
  lightGray: $lightGray;
  lightestGray: $lightestGray;
  ronchi: $ronchi;
  saffron: $saffron;
  goldTips: $goldTips;
}
