blockquote {
  background-color: rgba($color: #ebebeb, $alpha: 0.4);

  border: 0;
  border-left: 3px solid #d8d8d8;
  border-radius: 3px 0px 0px 3px;

  font-size: 13px;
  color: #727272;
  line-height: 150%;
  padding: 28px 46px;
}

// :global {
//   /* Hide the "Highcharts" label that appears on every chart in the bottom-right corner */
//   .highcharts-credits {
//     display: none;
//   }
// }
