$mediaQueryXS: 0;
$mediaQuerySM: 576;
$mediaQueryMD: 768;
$mediaQueryLG: 1024;
$mediaQueryXL: 1280;

:export {
  mediaQueryXS: $mediaQueryXS;
  mediaQuerySM: $mediaQuerySM;
  mediaQueryMD: $mediaQueryMD;
  mediaQueryLG: $mediaQueryLG;
  mediaQueryXL: $mediaQueryXL;
}
