$mediaQueryMedium: 768px;
$mediaQueryLarge: 996px;
$mediaQueryExLarge: 1024px;

:export {
  mediaQueryMedium: $mediaQueryMedium;
  mediaQueryLarge: $mediaQueryLarge;
  mediaQueryExLarge: $mediaQueryExLarge;
}
