// Variable declarations

$defaultFontFamily: Roboto;
$robotoBoldFontFamily: Roboto-bold;

$defaultFontSize: 20px; //20px
$bigFontSize: 1.2rem; //24px
$mediumFontSize: 0.9rem; //18px
$smallFontSize: 0.8rem; //16px
$smallerFontSize: 0.7rem; //14px
$miniFontSize: 0.6rem;
$microFontSize: 0.55rem; //11px

$h1FontSize: 2rem; //40px
$titleFontWeight: 300;
$titleLineHeight: 120%;
$titleLetterSpacing: 1px;

$h2FontSize: 1.6rem; //32px
$h3FontSize: 1rem; //20px

// Exports variables to be used in JS theme definition at assets/themes.
:export {
  defaultFontFamily: $defaultFontFamily;
  robotoBoldFontFamily: $robotoBoldFontFamily;
  bigFontSize: $bigFontSize;
  defaultFontSize: $defaultFontSize;
  smallFontSize: $smallFontSize;
  smallerFontSize: $smallerFontSize;
  miniFontSize: $miniFontSize;
  microFontSize: $microFontSize;
  h1FontSize: $h1FontSize;
  h2FontSize: $h2FontSize;
  h3FontSize: $h3FontSize;
  titleFontWeight: $titleLineHeight;
  titleLineHeight: $titleLineHeight;
  titleLetterSpacing: $titleLetterSpacing;
}
